$top: 50px
body
  font-family: sans-serif
img
  max-width: 100%
  margin-top: 10px
.social
  img
    height: 15px
    margin-right: 10px
header
  background-color: #fbfbfb
.introduction
  text-align: justify
  padding: $top*2 $top
.subtitle
  display: block
  margin: 10px 0
.title
  color: #262626
  font-family: Tahoma
  font-size: 44px
  font-weight: 700
  line-height: 59.73px
.title-modul
  margin-top: $top
  text-align: center
  color: #262626
  font-family: Tahoma
  font-size: 34px
  font-weight: 700
  line-height: 59.73px
.title-lesson
  text-align: center
.modul1
  margin-top: $top
  text-align: center
  img
    height: 100px
    display: block
    margin: 0 auto
    margin-bottom: 20px
  a
    display: block
  .description-lesson
    display: block
    margin-top: 20px
    text-align: justify
  .verdict
    color: red
.source
  background-color: #fbfbfb
  padding: $top
  &-links
    margin-top: $top
footer
  background-color: #31293c
  color: #ffffff
  font-family: Tahoma
  font-size: 16px
  font-weight: 400
  line-height: 59.73px
  text-align: center

