body{
  color: #32325f;
}
img{
  max-width: 100%;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.title{
  font-size: 48px;
font-weight: 700;
}
.description{
  font-size: 20px;
font-weight: 400;
line-height: 26px;
}
.price-tag{
  font-size: 20px;
font-weight: 400;
}
.price{
  font-size: 48px;
  font-weight: 400;
}
.main{
  margin-top: 100px;
}
.hero{
  background-color: #f4f5f7;
  padding-top: 70px;
  padding-bottom: 190px;
}
section{
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-block{
  margin-top: 100px;
}
footer{
  padding: 78px;
  background-color: #32325f;
  color: #ffffff;
}
footer a{
  color: white;
}

.people{
  background-color: #f4f5f7;
}
img{
  max-width: 100%;
}
.section-heading{
  margin-bottom: 64px;
}