header {
  background-color: #fbfbfb;
  padding-top: 40px;
  padding-bottom: 20px;
}

.contener {
  /* border: 1px solid red; */
  max-width: 1140px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
}
.introduction{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.text-introduction{
  width: 60%;
}
.title{
  text-align: left;
  color: #1f1f24;
font-family: Tahoma;
font-size: 35px;
font-weight: 700
}
.subtitle {
  display: block;
  color: #8993ad;
font-family: Tahoma;
font-size: 18px;
font-weight: 400
}
.subtitle>a{
  color: #8993ad;
font-family: Tahoma;
font-size: 18px;
font-weight: 400
}
.description{
  color: #8993ad;
  display: block;
  font-size: 18px;
font-weight: 400;
  margin-top: 20px;
  text-align: justify;
}
.my-photo{
  width: 35%; 
}
img{
  max-width: 100%;
}
main {
  padding-top: 20px;
  padding-bottom: 20 px;
}

.title-modul {
  text-align: center;
}

/* блоки для уроков 1-го модуля */
.modul1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.lesson{
  width: 30%; 
  text-align: center;
}
.title-lesson {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.image{
  margin-right: 5px;
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
.description-lesson{
  display: inline-block;
  margin-top: 15px;
  text-align: justify;
}
.verdict{
  color: red;
  
}